*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#number{
    font-family: 'Seven Segment', sans-serif;
    font-size: 160px;
    color: red;
    width: 100vw;
    text-align: center;
}
.numberDisplay{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
    width: 100%;
    height: 100vh;
}

.numberDisplay button{
    background-color: #000;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: 2px solid #302d2d;
    padding: 10%;
    cursor: pointer;
    width: 100%;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.rankContainer{
    color: white;
    background-color: #000;
}